/* BASICS ---------------- */
body {
  background-color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #252525;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

a:focus {
  outline-color: rgb(0, 0, 0);
  outline-color: rgba(0, 0, 0, 0.6);
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  color: inherit;
  border: 1px solid #efefef;
  padding: 5px;
  border-radius: .3em;
}

label {
  display: block;
  font-weight: bold;
}

label + * {
  margin-top: .3em;
}

label input[type="number"] {
  width: 60px;
  text-align: left;
  border-color: transparent;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: 0;
  border-color: #222;
  color: #222;
}

input[type="submit"],
button {
  
}

[disabled] {
  opacity: 0.7;
}

::-moz-selection {
  background: #b3d4fc;
  background: rgba(0, 0, 0, 0.2);
}

::selection {
  background: #b3d4fc;
  background: rgba(0, 0, 0, 0.2);
}


/* Controls */
.controls  {
  font-size: 14px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  padding: 40px;
  background: #fff;
  color: #555;
  border-left: 1px solid #efefef;
  overflow-y: scroll;
}

.controls .section {
  margin-top: 40px;
}

.controls .section:first-child {
  margin-top: 0;
}

.controls .section-sub-title,
.controls .field-group {
  margin-top: 20px;
}

.controls .field-group > input {
  width: 100%;
}

.controls .section-title {
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  font-size: 24px;
}

.controls .section-sub-title {
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
}


/* Legible test and demo */
.legible-test,
.legible-css {
  padding: 40px;
  margin-right: 300px;
}

.legible-css {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: pre;
  background: #fff;
  color: #000;
  display: none;
  overflow: auto;
  font-size: 16px;
  line-height: 1.4em;
  font-family: Monaco, monospace;
}

html.showing-css .legible-css {
  display: block;
}

html.showing-grid .legible-test {
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, .08) 50%,
    rgba(0, 0, 0, .08)
  );
}

html.showing-grid .legible-test > * {
  outline: red 1px solid;
}