/*
  WYSIWYG & POST TYPOGRAPHY ----------------------
  Add the class wysiwyg to the parent element 
  containing the wysiwyg output.
*/


/* Spacing and sizes */
.legible {
  font-size: 16px;
  line-height: 1.3em;
}

.legible h1,
.legible h2,
.legible h3,
.legible h4,
.legible h5,
.legible h6,
.legible div,
.legible p,
.legible ul,
.legible ol,
.legible blockquote,
.legible table,
.legible pre code {
  margin-top: 1em;
}

.legible h1 + *,
.legible h2 + *,
.legible h3 + *,
.legible h4 + *,
.legible h5 + *,
.legible h6 + *,
.legible *:first-child {
  margin-top: 0;
}

/* Lists */
.legible ul,
.legible ol {
  margin-left: 30px;
  padding-left: 10px;
}

.legible ol {
  list-style: decimal;
}

.legible ul {
  list-style: disc;
}

.legible li {
  margin-top: 0.3em;
}
.legible li:first-child {
  margin-top: 0;
}

/* Headers */
.legible h1,
.legible h2,
.legible h3,
.legible h4,
.legible h5,
.legible h6 {
  font-size: 2em;
  margin-bottom: 0.3em;
  line-height: 1em;
}

.legible h2 {
  font-size: 1.8em;
}

.legible h3 {
  font-size: 1.6em;
}

.legible h4 {
  font-size: 1.4em;
}

.legible h5 {
  font-size: 1.2em;
}

.legible h6 {
  font-size: 1em;
}

/* Quotes, bolds, italics and other emphasis */
.legible b,
.legible strong {
  font-weight: bold;
}

.legible i,
.legible em {
  font-style: italic;
}

.legible blockquote {
  margin: 2em 3em;
  font-size: 0.9em;
  color: #777;
}

.legible code {
  font-family: Courier, 'Courier New', monospace;
  background: #efefef;
}

.legible pre code {
  padding: 20px;
  display: block;
}

/* Media */
.legible img,
.legible video,
.legible param,
.legible object,
.legible embed,
.legible iframe {
  max-width: 100%; /* Media shouldn't break the layout */
}

.legible img {
  height: auto; /* If the image width is resized, having this will ensure the height is resized in all browsers */
}